{
    "billing_account_id": "123456-12345A-A12345",
    "backend_bucket": "my_terraform_backends_bucket",
    "backend_prefix": "my_terraform_backend_prefix",
    "cloud_function_region": "saturn-west3",
    "cloud_scheduler_region": "saturn-west3",
    "cloud_storage_location": "saturn-west3",
    "container_registry_region": "solarsystem",
    "gsuite_account_email": "myself@example.com",
    "org_id": 1234567890
}
